<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="/stylesheets/fieldmap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="map-container">
        <div class="map-item">

            <div class="field-stack-container">
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0cd2a0-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-7-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left"></div>
                                <div class="corner-vertical-line field-7-vertical"></div>
                                <div class="bottom-right field-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0d6ee0-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-8-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-7"></div>
                                <div class="corner-vertical-line field-8-vertical"></div>
                                <div class="bottom-right field-8 field-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-maim-item-containe">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0de410-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-9-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-8 field-7"></div>
                                <div class="corner-vertical-line field-9-vertical"></div>
                                <div class="bottom-right field-9 field-8 field-7"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="map-item">

            <div class="field-stack-container">
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0b4c00-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-4-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left"></div>
                                <div class="corner-vertical-line field-4-vertical"></div>
                                <div class="bottom-right field-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0be840-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-5-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-4"></div>
                                <div class="corner-vertical-line field-5-vertical"></div>
                                <div class="bottom-right field-5 field-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container corner-right-line highway-row-3">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0c8480-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-6-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-5 field-4"></div>
                                <div class="corner-vertical-line field-6-vertical"></div>
                                <div class="bottom-right field-6 field-5 field-4"></div>
                                <div class="corner-vertical-line highway-row-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="map-item">

            <div class="field-stack-container">
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="dc8d7380-87a6-11ea-a291-c7c9efb4ebe5">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-1-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left"></div>
                                <div class="corner-vertical-line field-1-vertical"></div>
                                <div class="bottom-right field-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b077b70-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-2-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-1"></div>
                                <div class="corner-vertical-line field-2-vertical"></div>
                                <div class="bottom-right field-1 field-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-stack-item">

                    <div class="field-container">
                        <div class="field-maim-item">
                            <div class="field-main-item-container corner-right-line highway-row-2">
                                <div class="field-top"></div>
                                <div class="field" data-uuid="8b0a88b0-87c2-11ea-a63e-c330d02c972b">
                                    <div class="field-info">
                                        <table>
                                            <tr>
                                                <td>Number:</td>
                                                <td class="field-number">w</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="field-name">w</td>
                                            </tr>
                                            <tr>
                                                <td>Humidity Slice:</td>
                                                <td class="field-humidity-slice">w</td>
                                            </tr>
                                            <tr>
                                                <td>Start Watering:</td>
                                                <td class="field-start-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>End Watering:</td>
                                                <td class="field-end-watering">w</td>
                                            </tr>
                                            <tr>
                                                <td>Final Humidity:</td>
                                                <td class="field-final-humidity">w</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tap field-3-tap"></div>
                            </div>
                        </div>
                        <div class="field-bottom-item">
                            <div class="field-bottom-item-container">
                                <div class="bottom-left-main field-1 field-2"></div>
                                <div class="corner-vertical-line field-3-vertical"></div>
                                <div class="bottom-right field-1 field-2 field-3"></div>
                                <div class="corner-vertical-line highway-row-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="map-item">

            <div class="pump-stack-container">
                <div class="pump-stack-item">
                    <div class="pump-maim-item">
                        <div class="pump-maim-item-container">
                            <div class="pump-top"></div>
                            <div class="pump"></div>
                        </div>
                    </div>
                </div>

                <div class="right-pump-container">
                    <div class="top-space corner-right-line highway-row-1"></div>
                    <div class="pump-tap"></div>
                    <div class="bottom-space"></div>
                </div>
            </div>


        </div>


    </div>





    <script type="text/javascript" src="/javascripts/fieldMap.js"></script>
</body>
</html>